TELEGRAM_BOT_TOKEN=Buraya_BotFather_Tokenini_Yazin
MY_TELEGRAM_ID=Buraya_Kendi_IDnizi_Yazin
WORKSPACE_DIR=/app/workspace
OLLAMA_HOST=http://ollama:11434
# Istege bagli: Ollama guvenligi icin API Key
# OLLAMA_API_KEY=your-secret-key-here

